<div class="row">
  <div class="span12">
    <h1 class="title">{{ t('discussion','Discussions List') }}</h1>
    <div class="btn-toolbar">
      <a class="btn admin-discussion-link" href="{{constant('BASE_URL')}}admin/discussion/add">{{ t('discussion', 'Create Discussion') }}</a>
      <a class="btn admin-homepage-link" href="{{constant('BASE_URL')}}admin/config/homepage">{{ t('discussion', 'Configure Home Page') }}</a>
      <a class="btn admin-allDiscussion-link" href="{{constant('BASE_URL')}}admin/all-discussion">{{ t('discussion', 'View All Discussions') }}</a>
      <a class="btn admin-allStatistics-link" href="{{constant('BASE_URL')}}admin/statistics">{{ t('discussion', 'View All Statistics') }}</a>
      <a class="btn admin-allCSV-link" href="{{constant('BASE_URL')}}admin/export/all/csv">{{ t('discussion', 'Export To CSV') }}</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% set isAdmin = checkPermission('admin') %}
    <table  id="discussions-list" class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>{{ t('discussion', 'Title') }}</th>
          <th>{{ t('discussion', 'Summary') }}</th>
          <th>{{ t('discussion', 'Author') }}</th>
          <th>{{ t('discussion', 'Proposal Count') }}</th>
          <th>{{ t('discussion', 'Opinion Count') }}</th>
          <th>{{ t('discussion', 'Users Count') }}</th>
        {% if isAdmin == true %}
          <th>{{ t('discussion', 'Sorting Order') }}</th>
        {% endif %}
          <th>{{ t('discussion', 'Ops') }}</th>
        </tr>
      </thead>
      <tbody>
        {% set totalProposal = 0 %}
        {% set totalOpinion = 0 %}
        {% for info in discussionInfo %}
        <tr>
          <td>{{ info.discussionTitle }}</td>
          <td>{{ info.discussionSummary }}</td>
          {% set authorEmail = '' %}
          {% if attribute(emails, info.discussionAuthorSlug) is not empty %}
            {% set authorEmail = attribute(emails, info.discussionAuthorSlug) %}
          {% endif %}
          <td><a href="mailto:{{authorEmail}}">{{ info.discussionAuthor }}</a></td>
          <td>{{ info.proposalCount }}</td>
          <td>{{ info.opinionCount}}</td>
          <td>{{ info.userCount}}</td>
          <td><input type="text" size="2" maxlength="2" discussion-slug="{{info.discussionSlug}}" value="{{info.discussionOrder}}" class="sort-order span1" /></td>
          <td>
            <div class="dropdown">
              <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">Espandi <span class="caret"></span></a>

              <ul class="dropdown-menu">
              {% if isAdmin == true %}
                <li><a href="{{constant('BASE_URL')}}admin/discussion/edit/{{ info.discussionSlug }}">{{ t('discussion','Edit')}}</a></li>
              {% endif %}  
                <li><a href="{{constant('BASE_URL')}}admin/discussion/proposal/list/{{ info.discussionSlug }}">{{ t('discussion','View Proposals')}}</a></li>
                <li><a href="{{constant('BASE_URL')}}admin/discussion/allproposal/{{ info.discussionSlug }}">{{ t('discussion','Print Discussion')}}</a></li>
              {% if isAdmin == true %}
                <li><a href="{{constant('BASE_URL')}}admin/discussion/statistics/{{ info.discussionId }}">{{ t('discussion','Statistics')}}</a></li>
              {% endif %}
              </ul>
            </div>
          </td>
        </tr>
        {% set totalProposal = totalProposal + info.proposalCount %}
        {% set totalOpinion = totalOpinion + info.opinionCount %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p><strong>{{ t('discussion','Number of Proposals') }}:</strong> {{totalProposal}} </p>
    <p><strong>{{ t('discussion','Number of Visualization + Opinions') }}:</strong> {{totalOpinion}}</p>
    <p><strong>{{ t('discussion','Number of User Registered') }}:</strong> {{authorNames|length}}</p>
    <p><strong>{{ t('discussion','List of User Registered who all contributed in proposal, visualization, and opinion') }}</strong></p>
    <div>
      {% for author in authorNames %}
        {{author}}<br>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  var baseUrl = "{{constant('BASE_URL')}}";
</script>
<script src="{{constant('THEME_URL')}}js/discussionList.js"></script>