<div class="row">
  <div class="span12">
    {% set isAdmin = checkPermission('admin') %}
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th>{{ t('discussion','Title') }}</th>
          <th>{{ t('discussion','Summary') }}</th>
          <th>{{ t('discussion','Author') }}</th>
          <th>{{ t('discussion', 'Proposal Count') }}</th>
          <th>{{ t('discussion', 'Opinion Count') }}</th>
          <th>{{ t('discussion', 'Users Count') }}</th>
        </tr>
      </thead>
      <tbody>
        {% set totalProposal = 0 %}
        {% set totalOpinion = 0 %}
        {% for info in discussionInfo %}
        <tr>
          <td>{{ info.discussionTitle }}</td>
          <td>{{ info.discussionSummary }}</td>
          {% set authorEmail = '' %}
          {% if attribute(emails, info.discussionAuthorSlug) is not empty %}
          {% set authorEmail = attribute(emails, info.discussionAuthorSlug) %}
          {% endif %}
          <td><a href="mailto:{{authorEmail}}">{{ info.discussionAuthor }}</a></td>
          <td>{{ info.proposalCount }}</td>
          <td>{{ info.opinionCount}}</td>
          <td>{{ info.userCount}}</td>
        </tr>
        {% set totalProposal = totalProposal + info.proposalCount %}
        {% set totalOpinion = totalOpinion + info.opinionCount %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
      <p><strong>{{ t('discussion','Number of Proposals') }}:</strong> {{totalProposal}} </p>
    <p><strong>{{ t('discussion','Number of Visualization + Opinions') }}:</strong> {{totalOpinion}}</p>
    <p><strong>{{ t('discussion','Number of User Registered') }}:</strong> {{authorNames|length}}</p>
    <p><strong>{{ t('discussion','List of User Registered who all contributed in proposal, visualization, and opinion') }}</strong></p>
    <div>
      {% for author in authorNames %}
        {{author}}<br>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% for chartDetailKey, chartDetailValue in chartDetails %}
    <div style="width:100%;float:left;">
      <div>
        {% set discussionTitles = chartDetailKey|split('_') %}
        {% set discussionTitle = discussionTitles|join(' ') %}
        {% set discussionTitle = discussionTitle|capitalize %}
        <h3>{{discussionTitle}}</h3>
      </div>
      {% for chartKey, chartValue in chartDetailValue %}
      <div  class="span8">
        <div id="line_chart_{{chartDetailKey}}_{{chartKey}}"></div>
      </div>
      {%endfor%}
    </div>
    {%endfor%}
  </div>
</div>
<script>
  var baseUrl = "{{constant('BASE_URL')}}";
  var chartDetails = '{{chartDetails|json_encode|raw}}';
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{constant('THEME_URL')}}js/reportStatistics.js"></script>
<script src="{{constant('THEME_URL')}}js/discussionList.js"></script>
